.about {
	padding: 60px 0 0;
}

.about__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about__image {
	order: 1;
	height: 175px;
	width: 175px;
}
.about__image img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.about__content {
	order: 2;
}
.about__content p {
	font-size: 16px;
	color: var(--text-black);
	text-align: justify;
}
.about__content p:last-child:not(:first-child) {
	margin-top: 16px;
}

@media (min-width: 600px) {
	.about__wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.about__content {
		width: calc(100% - 220px);
	}
}

@media (min-width: 976px) {
	.about {
		padding: 80px 0 40px;
	}

	.about__image {
		order: 2;
		height: 200px;
		width: 200px;
	}

	.about__content {
		order: 1;
		width: calc(100% - 250px);
		max-width: 800px;
	}
}
